.main {
  cursor: url(images/cross.png) 35 35, auto;
  height: 100vh;
  background-color: antiquewhite;
  position: relative;
}

#t1 {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #667c7c;
}

#hole {
  position: absolute;
  background-color: #222;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
